.progressBarSpace {
  height: 27px;
}

.materialize-textarea {
  height: 120px!important;
}

.chip button {
	border: none;
    background-color: transparent;
    color: black;
}

input, textarea {
	color: white;
}

input.autocomplete {
    color: #424242!important;
}
